body {
    background-color:#302D23;
    border-top: 2px solid #69E8CC;
    color:#FFFFFF;
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    margin:0 auto;
    width:920px;
    text-shadow:0 0 6px #B0A582;
}
a {
    color: #FFF5BC;
}
a:hover {
    text-decoration: none;
}
h2 {
    color: #B9E04B;
}